.Isaac-Table {
  border: 1px solid black;
}
.Isaac-Table th {
  border: 2px solid black;
  background-color: #444;
  color: white;
}
.Isaac-Table td {
  border: 1px solid black;
  background-color: cyan;
}
/* will be supported soon */
.Isaac-Table tr.in_design td, .Isaac-Table td.in_design {
  background-color: green;
  color: white;
}
/* not supported but might be in the future */
.Isaac-Table tr.nsm td, .Isaac-Table td.nsm {
  background-color: blue;
  color: white;
}
.Isaac-Table tr.contentious td, .Isaac-Table td.contentious {
  background-color: yellow;
}
.Isaac-Table tr.deprecated td, .Isaac-Table td.deprecated {
  background-color: orange;
}
.Isaac-Table tr.ns td, .Isaac-Table td.ns{
  background-color: red;
}
.Isaac-Table tr.ns td, .Isaac-Table td.unused{
  background-color: #777;
}
/* TODO this */
.Isaac-Table tr.nsm td a:link {
  color: #BF0;
}
.Isaac-Table tr.nsm td a:link:hover {
  color: #DF3;
}
.Isaac-Table tr.nsm td a:visited:hover {
  color: #FD3;
}
.Isaac-Table tr.nsm td a:visited {
  color: #FB0;
}
.Isaac-Table tr.nsm td a:active {
  color: #FF7;
}
.kw-var {
  color:blue;
  font-weight: bold;
}
.kw-type {
  color:#F0F;
  font-weight: bold;
}
.section {
  border: solid 1px grey;
  margin: 10px;
  padding: 4px;
}
ul.stack {
  list-style-type: none;
  display: inline-block;
  padding: 0px;
}
ul.stack>li{
  /* float: left;*/
  display: inline;
  padding: 10px;
  border: solid 1px black;
  background-color: #0C0;
}
